beautifulsoup4==4.12.3
imutils==0.5.4
jsonschema==4.23.0
matplotlib
numpy==2.2.1
pandas==2.2.3
Pillow==11.1.0
pydantic
pytest==8.3.4
Requests==2.32.3
scikit_learn==1.6.0
setuptools
tinydb==4.8.2
torch
torchvision
